{% extends 'base.html'%}
{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla tellus. Vivamus sed dictum justo.
                Vestibulum at tristique lacus, ut euismod nulla. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Aenean ornare sem eu fermentum iaculis. Nulla suscipit lectus sodales
                lectus blandit, sit amet posuere eros ultricies. Nulla auctor purus eget felis dapibus lobortis.
                Nam sollicitudin viverra odio, nec vehicula massa euismod eget. Phasellus porta laoreet elit ut tincidunt.
                Aliquam dolor est, iaculis sagittis consectetur eget, dapibus ut turpis. Integer maximus pulvinar ante eu accumsan.
                Cras vehicula mauris arcu, quis euismod nisi iaculis quis.
            </p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                SignIn
                </a>
                <a class="btn btn-dark" href="/signup/">
                SignUp
                </a>
            </div>
        </section>
    </main>

{% endblock %}